.paint {
    display: flex;
    flex:1 0 auto;
    min-width: 10px;
    min-height: 10px;
    border: solid 1px black;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.row {
    display: flex;
    flex: auto;
}
.information {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.containers {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border: 1px solid rgba(102, 102, 102, 0.65);
    width: 960px;
    height: 960px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    overflow: hidden;
}

.extraInfo {
    font-size: small;
    text-align: center;
}
body {
    font-family:'Courier New', Courier, monospace;
}